<div class="footer">
    <div class="gruop">
       <div class="title"> JS Tips is a collection of useful daily JavaScript tips that will allow you to improve your code writing</div>
       <div>
            <div>
                <a href="https://github.com/huynhquangminh" target="blank" class="a-icon"><img src="../../assets/github-icon.png" class="icon-git"><span class="text-icon">Github</span></a>
            </div>
            <div >
                <a href="https://www.youtube.com/channel/UCaThRmArdCULDyKebIYq7yw" target="blank"  class="a-icon"><img src="../../assets/icon-youtube.png" class="icon-youtube"><span class="text-icon">Youtube</span></a>
            </div>
        </div>
    </div>
    <div>
        <button mat-button class="btn-action">About</button>
        <button mat-button class="btn-action">Contract</button>
    </div>
</div>
