<mat-card class="card-post">
    <mat-card-header class="card-post-header">
        <mat-card-subtitle class="subtitle">@loverajoel in javascript</mat-card-subtitle>
        <mat-card-title class="title">What is the promise executor xxxxxxxxxxx?</mat-card-title>
        
    </mat-card-header>
    <mat-card-content class="card-post-content">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="card-post-actions">
      <div class="card-post-actions_btn"><a href="" >Đọc thêm →</a></div>
    </mat-card-actions>
</mat-card>