::ng-deep.mat-card-header-text{
    margin: 0 !important;
}
::ng-deep.mat-card-actions{
    margin: 0 !important;
    padding: 0 !important;
}

.card-post {
    width: 300px !important;
    height: 345px;
    border-top: 2px solid;
    border-radius: 4px;
    background: #fff;
    border-color: #f9d732;
    padding: 0 !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.card-post:hover {
    box-shadow: 0 2px 2px 2px #cecece;
}
.card-post-header {
    height: 25%;
    padding: 10px 10px;
}
.card-post-content {
    height: 45%;
    padding: 10px 10px;
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0px !important;
}
.card-post-actions {
    height: 13.5%;
    width: 100%;
    padding: 10px 10px;
    border-top: 0.5px solid #fbfbfb;
    cursor: pointer;
    background-color: #fbfbfb;
    &_btn {
        padding: 15px 10px 10px 10px !important;
        a {
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }
    }
    &:hover {
        a {
            color: #363427;
        }
    }
}