<div>
    <div class="container">
        <div class="actor-info">
            <div class="img">
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" style="width:70px">
            </div>
            <div class="info">
                <span class="name">Minh Huỳnh</span><br>
                <span> Fontend Developer</span>
            </div>
        </div>
        <div>John Doe saved us from a web disasterx xxxxx x xxxxxxxx xxxx xxxx xxxx
            John Doe saved us from a web disasterx xxxxx x xxxxxxxx xxxx xxxx xxxx
            John Doe saved us from a web disasterx xxxxx x xxxxxxxx xxxx xxxx xxxx
        </div>
        <div class="follow">
            <span>
                <a href="https://www.facebook.com/huynhquangminh.cse/" target="blank">
                    <img src="../../../../assets/face2.png" class="icon-face">
                </a>
            </span>
            <span>
                <a href="https://www.facebook.com/huynhquangminh.cse/" target="blank">
                    <img src="../../../../assets/github.png" class="icon-github">
                </a>
            </span>
        </div>
    </div>
    <div class="popular">
        <div>
            <div class="title"><span>Tips phổ biến</span></div>
            <div class="list" matRipple [matRippleCentered]="true">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
            <div class="list">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
            <div class="list">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
            <div class="list">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
            <div class="list">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
            <div class="list">
                <div class="index"><span>1</span></div>
                <div class="text">
                    <span>What is the promise executor?xxxxxxxxxxxxxx</span>
                </div>
            </div>
        </div>
    </div>
</div>

