.title-index {
    padding: 30px 40px 0 45px;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
}
.index {
    display: flex;
}
.aside {
    background-color: #fff;
    width: 22%;
    padding: 20px 10px;
}
.main-post {
    display: flex;
    width: 70%;
    height: auto;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.btn-more {
    padding: 7px 20px 7px 20px;
    border: solid 2px #29293f;
}
.btn-more:hover {
    background-color: #29293f;
    color: #f8f8f4;
}
.action {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    width: 100%;
    margin-left: 45%;
}

::ng-deep.mat-button-wrapper{
    font-family: roboto mono,monospace;
    font-size: 14px;
    font-weight: 500;
}




